---
layout: default
title: Order
permalink: order/
---
<div class="page-header">
  <h1>Order: {{ site.data.order.id }} <small>{{ site.data.order.date | date: "%D %T" }}</small></h1>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Customer Details</h3>
      </div>
      <div class="panel-body">
        <p>{{ site.data.order.customer.name }}</p>
        {% for address in site.data.order.customer.addresses %}
          {% if address.type == 'invoice' %}
            <p>{{ address.address_1 }}</p>
            <p>{{ address.address_2 }}</p>
            <p>{{ address.town_city }}</p>
            <p>{{ address.county }}</p>
            <p>{{ address.postcode }}</p>
            <p>{{ address.country }}</p>
          {% endif %}
        {% endfor %}
        <br/><p>{{ site.data.order.customer.email }}</p>
        <p>{{ site.data.order.customer.phone }}</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Delivery Details</h3>
      </div>
      <div class="panel-body">
        <p>{{ site.data.order.customer.name }}</p>
        {% for address in site.data.order.customer.addresses %}
          {% if address.type == 'delivery' %}
            <p>{{ address.address_1 }}</p>
            <p>{{ address.address_2 }}</p>
            <p>{{ address.town_city }}</p>
            <p>{{ address.county }}</p>
            <p>{{ address.postcode }}</p>
            <p>{{ address.country }}</p>
          {% endif %}
        {% endfor %}
        <p>Delivery Date</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Order Items</div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Gift Wrap</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Item ID</td>
            <td>Item Image</td>
            <td>Item Description</td>
            <td>Item Price</td>
            <td>Gift Wrap</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Payment</h3>
      </div>
      <div class="panel-body text-right">
        <p>Items Total</p>
        <p>Delivery Charge</p>
        <p>Order Total</p>
        <p>Payment Method</p>
      </div>
    </div>
  </div>
</div>
