<div class="page-header">
  <h1><i class="fa fa-shopping-cart fa-fw"></i>Order: {{ site.data.order.id }} <small>{{ site.data.order.date | date: "%d/%m/%Y %T %Z" }}</small></h1>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Customer Details</h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-1"><i class="fa fa-user fa-fw"></i></div>
            <div class="col-xs-11"><p>{{ site.data.order.customer.title }} {{ site.data.order.customer.forename }} {{ site.data.order.customer.surname }}</p></div>
          </div>
          <div class="row">
            <div class="col-xs-1"><i class="fa fa-home fa-fw"></i></div>
            <div class="col-xs-11">
              {% for address in site.data.order.customer.addresses %}
                {% if address.type == 'invoice' %}
                  <p>{{ address.address_1 }}</p>
                  <p>{{ address.address_2 }}</p>
                  <p>{{ address.town_city }}</p>
                  <p>{{ address.county }}</p>
                  <p>{{ address.postcode }}</p>
                  <p>{{ address.country }}</p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1"><i class="fa fa-envelope fa-fw"></i></div>
            <div class="col-xs-11"><p>{{ site.data.order.customer.email }}</p></div>
          </div>
          <div class="row">
            <div class="col-xs-1"><i class="fa fa-phone fa-fw"></i></div>
            <div class="col-xs-11"><p>{{ site.data.order.customer.phone }}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-truck fa-fw"></i> Delivery Details</h3>
      </div>
      <div class="panel-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-1"><i class="fa fa-user fa-fw"></i></div>
            <div class="col-xs-11"><p>{{ site.data.order.customer.title }} {{ site.data.order.customer.forename }} {{ site.data.order.customer.surname }}</p></div>
          </div>
          <div class="row">
            <div class="col-xs-1"><i class="fa fa-home fa-fw"></i></div>
            <div class="col-xs-11">
              {% for address in site.data.order.customer.addresses %}
                {% if address.type == 'delivery' %}
                  <p>{{ address.address_1 }}</p>
                  <p>{{ address.address_2 }}</p>
                  <p>{{ address.town_city }}</p>
                  <p>{{ address.county }}</p>
                  <p>{{ address.postcode }}</p>
                  <p>{{ address.country }}</p>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1"><i class="fa fa-calendar fa-fw"></i></div>
            <div class="col-xs-11"><p>Estimated Delivery: {{ site.data.order.delivery_date | date: "%d/%m/%Y" }}</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="badge">{{ site.data.order.items | size }}</span> Order Items</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th colspan="2">Product Description</th>
            <th>Price</th>
            <th><i class="fa fa-gift fa-fw"></i> Gift Wrap</th>
          </tr>
        </thead>
        <tbody>
          {% for item in site.data.order.items %}

            <td>{{ item.id }}</td>
            <td><img src="{{ item.image }}" alt="{{ item.description }}" ></td>
            <td>{{ item.description }}</td>
            <td>£{{ item.price }}</td>
            <td><input type="checkbox" {% if item.gift_wrap %}checked{% endif %}></td>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-3 col-xs-offset-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Payment</h3>
      </div>
      <div class="panel-body text-right">
        <p>Items Total</p>
        <p>Delivery Charge</p>
        <p>Order Total</p>
        <p>Payment Method</p>
      </div>
    </div>
  </div>
</div>
